body
{
      /* background-color: #09203f;*/
        background : linear-gradient(to right,#235da8,#537895);
        font-family: 'Nunito', sans-serif;
        color: white;
}
#nav
{
        background-color: #09203f;
        text-align: center;
       
}
#intro
{
        text-align: center;
        padding-top: 5vh;
}